<marquee>
  <blink>
    <h2><center><%= node.name %>.yourmom.com</center></h2>
    <h3><center><em>twice as fast as your ass!!</em></center></h3>
  </blink>
</marquee>

<center><pre>
<%= `netstat -rn` %>
</pre></center>
